[Unit]
Description=Moses MT Web Service (FR-EN)
After=multi-user.target

[Service]
ExecStart=/home/ubuntu/mosesdecoder/bin/moses --server --server-port 4004 -f /home/ubuntu/mt_publish/model_zhen_ted/moses.ini --mark-unknown --unknown-word-prefix "__UNK__" --unknown-word-suffix "__UNK__"
Restart=on-failure

[Install]
WantedBy=default.target


