[Unit]
Description=Moses MT Web Service (EN-TR)
After=multi-user.target

[Service]
ExecStart=/home/ubuntu/mosesdecoder/bin/moses --server --server-port 3013 -f /home/ubuntu/mt_publish/model_entr_ted/moses.ini --mark-unknown --unknown-word-prefix "__UNK__" --unknown-word-suffix "__UNK__"
Restart=on-failure

[Install]
WantedBy=default.target


